/*
nb-layout{
    width:100%;
    height:100%;
  }
nb-layout-column:first-child {
flex: 2 !important;
background: #e3e6f9;
}
nb-layout-column:last-child {
flex: 1 !important;
background: #f4f4f7;
}

.nb-theme-default nb-layout .layout {
    min-height: 100vh;
 }

 .mat-menu-item:hover{
    background-color:grey;
    color: purple;
  }
  .mat-menu-item:hover .mat-icon{
    color: purple;
  }
*/
  .example-margin {
    margin: 0 5px;
  }