<!--
<nb-layout>
    <nb-layout-header fixed>Company Name</nb-layout-header>

    <nb-sidebar>Sidebar Content</nb-sidebar>
    
    <nb-layout-column>
      Page Content <button nbButton>Hello World</button>
    </nb-layout-column>
</nb-layout>
<app-maindashboard></app-maindashboard>
-->


<nb-layout>

  <nb-layout-header fixed>
    <nb-icon nbTooltip="主菜单" (click)="toggleSidebar()" class="sidebar-toggle" icon="menu-2-outline"></nb-icon>
    <img src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r2.png"/>
      
      <nb-icon  nbTooltip="支持" class="sidebar-uestion-mark-circle-outline" icon="question-mark-circle-outline"></nb-icon>
      <nb-icon  nbTooltip="设置" class="sidebar-settings-2-outline" icon="settings-2-outline"></nb-icon>
      <nb-icon  nbTooltip="google应用" class="sidebar-keypad-outline" icon="keypad-outline"></nb-icon>

      <nb-user  nbTooltip="{{getMoreInformation()}}"  class="sidebar-behance-outline" size="large" name="monkeycd" title="" onlyPicture >
      </nb-user>     
  
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar" responsive start>

    <button nbTooltip="创建新邮件" mat-button class ="light-button" ><mat-icon>add</mat-icon>写邮件</button>
    <nb-menu [items]="items">
    </nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    This is the footer
  </nb-layout-footer>

</nb-layout>
