.sidebar-toggle {
    padding-right: 1.25rem;
    text-decoration: none;
    color: var(--text-hint-color);
    font-size: 3.5rem;
  }

  .flex-box {
    display:flex;
    justify-content:space-between;
    outline: 2px dashed blue;
  }
  
  .flex-box-2 {
    display:flex;
    justify-content: flex-end;
  }

.light-button {
    height: 50px; 
    width: 200px;
    font-size: 110%;
    border-radius:30px;
    background-color: rgb(217, 225, 235);
}

.sidebar-uestion-mark-circle-outline{
  position: absolute;
  right: 170px;
  text-decoration: none;
  color: var(--text-hint-color);
  font-size: 2rem;
}

.sidebar-settings-2-outline{
  position: absolute;
  right: 130px;
  text-decoration: none;
  color: var(--text-hint-color);
  font-size: 2rem;
}
.sidebar-keypad-outline{
  position: absolute;
  right: 90px;
  text-decoration: none;
  color: var(--text-hint-color);
  font-size: 2rem; 
}
.sidebar-behance-outline{
  position: absolute;
  right: 10px;
  text-decoration: none;
  color: lightblue;
  font-size: 2rem;  
}

.nb-user .user-title {
  color: white;
}

.advance-search{
  top:30px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 15px;
}

.example-img{
  position: absolute;
  right: 10px;  
}


.example-section {
  margin: 12px 0;
}

.example-section1 {
  margin: 20px 0;
}

.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 50%; 
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 4px;
  vertical-align: middle;
}

.AllTheme{
  position: absolute;
  right: 10px;
  border-radius:15px;
}